<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
  <div class="flex items-center justify-between">
    <label for="price" class="block text-sm font-medium text-gray-700">Occurrence</label>
  </div>
  <div class="mt-1 relative rounded-md shadow-sm">
    <div class="absolute inset-y-0 right-0 flex items-center">
      <select id="currency" name="currency" class="focus:ring-indigo-500 focus:border-indigo-500 h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md">
        <option>Days</option>
        <option>Weeks</option>
        <option>Months</option>
      </select>
    </div>
  </div>
</div>