<!-- This example requires Tailwind CSS v2.0+ -->
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">

  <div class="mt-2 md:flex md:items-center flex h-16 justify-between">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate"><%= @header_name %></h2>

    <div class="mt-4 flex-shrink-0 flex md:mt-0 md:ml-4">
      <% if @secondary_button_title.present? and @secondary_button_link.present? %>
        <%= link_to @secondary_button_title, @secondary_button_link , class: "inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      <% end %>
      <% if @primary_button_title.present? and @primary_button_link.present? %>
        <%= link_to @primary_button_title, @primary_button_link , class: "ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      <% end %>
    </div>
  </div>
  <div class="sm:flex-auto">
    <p class="mt-2 text-sm text-gray-700"><%= @subtitle %></p>
  </div>
</div>
