
<div class="sm:flex sm:items-center px-4 py-5 sm:px-6">
  <div class="sm:flex-auto">
    <h3 class="text-lg leading-6 font-medium text-gray-900"><%= @title %></h3>
    <div class="sm:flex-auto">
      <p class="mt-2 text-sm text-gray-700"><%= @subtitle %></p>
    </div>
  </div>
  <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none inline-flex">
    <%= content %>
  </div>
</div>
