<div class="mt-6 flow-root">
  <ul role="list" class="space-y-3">
    <% @event_template_collection.event_templates.each do |event_template| %>
      <%= render TemplateCollection::EventTemplateShowSectionComponent.new(event_template: event_template) %>
    <% end %>
  </ul>
</div>