<tr class="border-t border-gray-300">
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
    <%= link_to @dog.name, @dog %>
  </td>
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
    <% if @upcoming_action_event.nil? %>
      <%= @upcoming_action_event_display %>
    <% else %>
      <%= link_to @upcoming_action_event_display, @upcoming_action_event %>
    <% end %>
  </td>
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
    <%= render TagsComponent.new(tags:@dog.tag_list) %>
  </td>
</tr>
