<div class="handle">
  <tr class="border-t border-gray-200 handle">
    <th colspan="5" scope="colgroup" class="bg-gray-200 px-4 py-2 text-left text-sm font-semibold text-gray-900 sm:px-6"><%= group.name.capitalize %></th>
    <th class="relative bg-gray-200 py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
      <%= button_to :Archive, group_path(group), method: :delete, class: "text-indigo-600 hover:text-indigo-900" %>
    </th>
  </tr>
  <div class="border-t border-gray-300">
    <% group.dogs.each do |dog| %>
      <%= render GroupsPage::GroupDogComponent.new(dog: dog) %>
    <% end %>
  </div>
</div>
