<% if user_signed_in? %>
<div class="hidden sm:ml-6 sm:flex sm:space-x-8">
  <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
  <%= link_to 'Dogs', groups_path, class: "inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-base font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700" %>
  <%= link_to 'Reminders', action_events_path, class: "inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-base font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700" %>
</div>
<% end %>
