<%= render PageHeaderComponent.new(header_name: 'Event Template',
                                   primary_button_title: 'Add New Event Template',
                                   primary_button_link: new_event_template_collection_path,
                                   secondary_button_title: '',
                                   secondary_button_link: '') %>
<div class="mt-8 flex flex-col">
  <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
      <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
        <%= render TemplateCollection::EventTemplateCollectionTableComponent.new(event_template_collections: @event_template_collections) %>
      </div>
    </div>
  </div>
</div>
