<%# if current_user != true_user %>
<!--  <div class="flex items-center justify-center px-2 py-1 text-sm text-blue-200 bg-blue-600 font-semibold" role="alert">-->
<!--    <span class="mr-2">Logged in as <b><%#= link_to "#{current_user.name} (#{current_user.email})", admin_user_path(current_user), class: "text-blue-200 underline hover:text-blue-100" %></b></span>-->
    <%#= button_to admin_user_impersonate_path(current_user), method: :delete, form_class: "inline-block", class: "btn btn-primary btn-small" do %>
<!--      Logout-->
    <%# end %>
<!--  </div>-->
<%# end %>
<%= content_tag(:div, class: "flash_messages",
                id: 'flash_messages') do %>
  <% @flash.each do |type, message| %>
      <%= render Flash::FlashMessageComponent.new(type: type, msg: message) %>
  <% end %>
<% end %>
