<div class="flex-shrink-0">
  <!-- Heroicon name: outline/check-circle -->
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-indigo-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
</div>
<div class="ml-3 w-0 flex-1 pt-0.5">
  <p class="text-sm font-medium text-gray-900"><%= sanitize @title %></p>
  <p class="mt-1 text-sm text-gray-500"><%= sanitize @subtitle %></p>
</div>
