<div class="mx-auto md:w-2/3 w-full">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
  <%= render "form" %>
  </div>
  <%= link_to 'Back to Group View', groups_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
